include ./partials/header.jade

div(class="container content")
	div(class="row")
		div(class="col-sm-12")
			if story
				div(class="story-single")
					div(class="story-box")
						div(class="story-voting")
							a(href="#" class="upvote-add")
								i(class="fa fa-caret-up fa-lg")
							a(href="#" class="upvote-minus")
								i(class="fa fa-caret-down fa-lg")
						div(class="story-details")
							div(class="story-title")
								h5(class="title-heading")
									a(href=story.link)=story.title
									span(class="title-link")=story.displayLink
							div(class="story-meta")
								div(class="story-points")
									span(class="points-value")=story.upvote
									=" "
									if story.upvote > 1
										span points
									else
										span point
									=" "
								span=" - Posted "
									=" "
									=story.timeAgo
									=" "
								span by 
									a(href="/profile/"+story.author._id class="underline")
										span=story.author.username
								=' | '
								a(href="/news/"+story._id class="underline comment-count")
									=story.commentsLength
									=" "
									span Comments
							div(class="story-favourite")
								if isAuthenticated
									if favPosts
										- var x = 0
										- var flag = false
										while ((x < favPosts.length))
											if (favPosts[x++]._id).equals(story._id)
												- var flag = true
										if flag
											a(href="/fav/"+story._id class="fa fa-star fav-remove")
											=" "
											span(class="add-to-fav")
										else
											a(href="/fav/"+story._id class="fa fa-star fav-add")
											=" "
											span(class="add-to-fav") Add to favourites
							if story.sameAuthor
								div(class="story-admin-edit")
									button(class="btn btn-default btn-xs")
										a(href="/news/"+story._id+"/edit") Edit
									button(class="btn btn-default btn-xs btn-delete-story")
										a(href="/news/"+story._id+"#") Delete
				if story.content
					div(class="row")
						div(class="story-content col-sm-10")
							p=story.content
			div(class="row")
				div(class="col-sm-6")
					if isAuthenticated
						form(method="post" action="#{formAction}")
							.form-group
								textarea(class="comment-textarea form-control" data-iconlibrary="fa" 	data-provide="markdown" name="comments", cols="30", rows="5" required)
							button(name="comment-submit" class="comment-submit btn btn-default btn-sm") Add a Comment
					else
						div(class="well well-sm") You need an account to comment.
							=" "
							a(href="/login" class="underline" style="color: #ff655a") Please login.
			div(class="row")
				div(class="col-sm-12")
					div(class="comments")
						h4=story.commentsLength
							if (story.commentsLength > 1)
								span  Comments
							else 
								span  Comment
						div(class="comment-list")
							each comment in comments
								div(class="comment")
									div(class="comment-meta")
										span Posted by 
											a(href="/profile/"+comment.author._id class="underline")
												span=comment.author.username
											=" "
											span on 
											span=comment.timeAgo
									div(class="comment-content")
										p=comment.content
										div(class="story-admin-edit")
											if comment.sameAuthor
												button(class="btn btn-default btn-xs")
													a(href="/comment/"+comment._id+"/edit") Edit
												button(class="btn btn-default btn-xs btn-delete-comment")
													a(href="/comment/"+comment._id+"#") Delete
											if isAuthenticated
												button(class="btn btn-default btn-xs reply-button")
													a(href="#") Reply
												form(method="post" action="#{formAction}" class="reply-form")
													input(type="hidden" name="parentId" value='#{comment._id}')
													.form-group
														textarea(class="comment-textarea form-control" name="comments", cols="50", rows="10" required autofocus)
													button(name="comment-submit" class="comment-submit btn btn-default") Add a Comment
					
